KISU_METRO_BASE=/srv/is4brag/data
IS4BRAG_SQLITE_PATH=/srv/is4brag/data/is4brag.sqlite3
IS4BRAG_MODEL_NAME=intfloat/multilingual-e5-large
IS4BRAG_MODEL_VERSION=intfloat/multilingual-e5-large
IS4BRAG_EMBEDDING_PROVIDER=pytorch
IS4BRAG_EMBEDDING_DIMENSIONS=1024
IS4BRAG_EMBEDDING_BATCH_SIZE=32
IS4BRAG_EMBEDDING_DEVICE=cpu
QDRANT_URL=http://127.0.0.1:6333
QDRANT_COLLECTION=kisu_metro
QDRANT_ALIAS=kisu_metro_active
QDRANT_API_KEY=
OMP_NUM_THREADS=4
MKL_NUM_THREADS=4
